#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 3px solid #ddd;
    padding: 5px; /*spatiul din jurul datelor*/
}

#customers tr:nth-child(even){background-color: #f2f2f2;} /*linii de dif cul*/

#customers tr:hover {background-color: rgb(247, 99, 99);} /*culoare de selectie rand*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
}
.container {
    position: relative;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px; /*text-align: center; top:50% ->pt centru*/
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
    }
}

.float /* ?????????????*/
{   overflow: auto; /*daca am chenar text si imag toate sunt ok*/ 
    img{
    float:left;}
}

.nav { /* despre UI*/
   /*  position: sticky; top: 0; ----sus si sticky */
    background-color: yellow; 
    list-style-type: none; /* !!!!!!!!!!! asa, altfel sunt cele default (cu .)*/
    text-align: center;
    margin: 0; /* !!!!!!!!!!! asa, altfel sunt cele default*/
    padding: 0; /* !!!!!!!!!!! asa, altfel sunt cele default*/
}

.nav li { /* despre TERMENII UI*/
    display: inline-block; /*  ASTA E DIFERIT */
    font-size: 20px;
    padding: 10px;
}



.nav_verticala {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    /* TO MAKE IT STICKY & FULL HEIGHT ON A SIDE
    height: 100%;  Full height 
    position: fixed;  Make it stick, even on scroll 
    overflow: auto;  Enable scrolling if the sidenav has too much content */
    
}

.nav_verticala li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/* th, td {
    border-bottom: 1px solid #ddd;
}
tabel doar cu LINII SUB DATELE INSERATE */

/* in div cu marime data---overflow: auto; pt a insera textul intr-o caseta
de derulare*/