body
  {
  color: #ea9999;
  font-family:Gill Sans, sans-serif;
  background: #f9cb9c url(http://1.bp.blogspot.com/-tcLGzvctWEw/UPSXNGuKpBI/AAAAAAAAAB4/TH6GY9e2ZKc/s0/girl-makeup-beads-fashion-wallpaper-1680x1050.jpg) repeat fixed top center;
  /*background-size:cover;*/
  }