
body {
    background-image: url("black.png");
    background-position-y: 0%;
        <!--"http://bsnscb.com/data/out/21/27259450-black-and-white-wallpapers.jpg"-->
  
    
   /* background-color: slategray;*/
}
#pozamea /*comment */
{   width:20%;
    height:auto;
}
table,td,tr,th
{
    border:tomato solid 2px;
    border-collapse: collapse;
    text-align: center;
    
}
tr:nth-of-type(2n)
{
color: green;
}

